In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
DIR_NAME = os.getcwd()
FNAME = 'Feats.csv'
YEAR_BEG = 13
YEAR_END = 19
NUM_GAMES = 38
MIN_GAMES = 5
WINDOW_LEN = 3

We store the data as a list of DataFrames, though it would be better to utilize Panda's hierarchical indexing functionality, as we do with 
the final feature matrix.

In [3]:
def read_data(beg, end):
    '''
    Stores data for all seasons between beg and end in separate DataFrames.
    
    Parameters:
    beg (int): int of the season to start at (e.g. 12)
    end (int): int of the season to end at
    
    Returns:
    datasets (list): list of DataFrames each containing the data for a particular season
    '''
    years = [str(i) + str(i+1) for i in range(beg,end)]
    datasets = []
    for suffix in years:
        csv = DIR_NAME + '/data/match_stats' + suffix + '.csv' 
        dat = pd.read_csv(csv)
        datasets.append(dat)  
    return datasets

datasets = read_data(YEAR_BEG, YEAR_END)
for data in datasets:
    print(data)

    Div      Date     HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
0    E0  17/08/13      Arsenal  Aston Villa     1     3   A     1     1   D
1    E0  17/08/13    Liverpool        Stoke     1     0   H     1     0   H
2    E0  17/08/13      Norwich      Everton     2     2   D     0     0   D
3    E0  17/08/13   Sunderland       Fulham     0     1   A     0     0   D
4    E0  17/08/13      Swansea   Man United     1     4   A     0     2   A
..   ..       ...          ...          ...   ...   ...  ..   ...   ...  ..
375  E0  11/05/14      Norwich      Arsenal     0     2   A     0     0   D
376  E0  11/05/14  Southampton   Man United     1     1   D     1     0   H
377  E0  11/05/14   Sunderland      Swansea     1     3   A     0     2   A
378  E0  11/05/14    Tottenham  Aston Villa     3     0   H     3     0   H
379  E0  11/05/14    West Brom        Stoke     1     2   A     0     1   A

     ... BbAv<2.5  BbAH  BbAHh  BbMxAHH  BbAvAHH  BbMxAHA  BbAvAHA  PSCH  \
0    ...     2.37   NaN    NaN      NaN      NaN      NaN      NaN  1.44
1    ...     2.02   NaN    NaN      NaN      NaN      NaN      NaN  1.42
2    ...     1.82   NaN    NaN      NaN      NaN      NaN      NaN  3.81
3    ...     1.77   NaN    NaN      NaN      NaN      NaN      NaN  2.52
4    ...     1.98   NaN    NaN      NaN      NaN      NaN      NaN  3.62
..   ...      ...   ...    ...      ...      ...      ...      ...   ...
375  ...     2.36  25.0   0.75     1.85     1.80     2.12     2.07  4.97
376  ...     2.12  27.0   0.00     1.90     1.86     2.06     1.99  2.77
377  ...     1.94  24.0  -0.50     2.40     2.30     1.68     1.63  2.19
378  ...     2.36  29.0  -1.00     1.86     1.77     2.20     2.10  1.47
379  ...     1.96  25.0  -0.25     1.85     1.76     2.18     2.11  2.18

     PSCD   PSCA
0    5.00   8.05
1    4.62  10.19
2    3.27   2.21
3    3.23   3.16
4    3.41   2.22
..    ...    ...
375  4.29   1.70
376  3.92   2.47
377  3.60   3.50
378  4.75   7.64
379  3.69   3.44

[380 rows x 68 columns]
    Div      Date    HomeTeam        AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
0    E0  16/08/14     Arsenal  Crystal Palace     2     1   H     1     1   D
1    E0  16/08/14   Leicester         Everton     2     2   D     1     2   A
2    E0  16/08/14  Man United         Swansea     1     2   A     0     1   A
3    E0  16/08/14         QPR            Hull     0     1   A     0     0   D
4    E0  16/08/14       Stoke     Aston Villa     0     1   A     0     0   D
..   ..       ...         ...             ...   ...   ...  ..   ...   ...  ..
375  E0  24/05/15        Hull      Man United     0     0   D     0     0   D
376  E0  24/05/15   Leicester             QPR     5     1   H     2     0   H
377  E0  24/05/15    Man City     Southampton     2     0   H     1     0   H
378  E0  24/05/15   Newcastle        West Ham     2     0   H     0     0   D
379  E0  24/05/15       Stoke       Liverpool     6     1   H     5     0   H

     ... BbAv<2.5  BbAH  BbAHh  BbMxAHH  BbAvAHH  BbMxAHA  BbAvAHA  PSCH  \
0    ...     2.10    24  -1.50     1.81     1.78     2.20     2.10  1.29
1    ...     1.80    22   0.25     1.88     1.85     2.10     2.02  3.11
2    ...     2.13    25  -1.50     2.18     2.08     1.87     1.79  1.45
3    ...     1.58    24   0.00     1.80     1.73     2.25     2.14  2.31
4    ...     1.60    23  -0.50     1.95     1.91     2.02     1.96  2.01
..   ...      ...   ...    ...      ...      ...      ...      ...   ...
375  ...     1.99    25   0.50     1.76     1.71     2.27     2.19  3.20
376  ...     2.41    28  -1.00     1.98     1.93     1.98     1.93  1.53
377  ...     2.66    28  -1.00     2.00     1.94     2.03     1.93  1.60
378  ...     2.25    25  -0.50     1.82     1.78     2.20     2.10  1.76
379  ...     1.99    25   0.25     2.07     2.02     1.88     1.85  3.56

     PSCD   PSCA
0    5.90  12.75
1    3.40   2.47
2    4.81   8.25
3    3.24   3.59
4    3.34   4.51
..    ...    ...
375  3.76   2.27
376  4.94   6.13
377  4.35   6.00
378  4.01   4.98
379  3.60   2.17

[380 rows x 68 columns]
    Div        Date     HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
0    E0  08/08/2015  Bournemouth  Aston Villa     0     1   A     0     0   D
1    E0  08/08/2015      Chelsea      Swansea     2     2   D     2     1   H
2    E0  08/08/2015      Everton      Watford     2     2   D     0     1   A
3    E0  08/08/2015    Leicester   Sunderland     4     2   H     3     0   H
4    E0  08/08/2015   Man United    Tottenham     1     0   H     1     0   H
..   ..         ...          ...          ...   ...   ...  ..   ...   ...  ..
375  E0  15/05/2016        Stoke     West Ham     2     1   H     0     1   A
376  E0  15/05/2016      Swansea     Man City     1     1   D     1     1   D
377  E0  15/05/2016      Watford   Sunderland     2     2   D     0     1   A
378  E0  15/05/2016    West Brom    Liverpool     1     1   D     1     1   D
379  E0  17/05/2016   Man United  Bournemouth     3     1   H     1     0   H

     ... BbAv<2.5  BbAH  BbAHh  BbMxAHH  BbAvAHH  BbMxAHA  BbAvAHA  PSCH  \
0    ...     1.79    26  -0.50     1.98     1.93     1.99     1.92  1.82
1    ...     1.99    27  -1.50     2.24     2.16     1.80     1.73  1.37
2    ...     1.96    26  -1.00     2.28     2.18     1.76     1.71  1.75
3    ...     1.67    26  -0.50     2.00     1.95     1.96     1.90  1.79
4    ...     2.01    26  -1.00     2.20     2.09     1.82     1.78  1.64
..   ...      ...   ...    ...      ...      ...      ...      ...   ...
375  ...     2.27    30   0.25     2.11     2.03     1.87     1.83  3.05
376  ...     2.45    31   1.00     2.14     2.05     1.85     1.81  7.05
377  ...     2.10    29  -0.50     2.06     2.01     1.91     1.85  1.64
378  ...     2.09    30  -0.25     2.10     2.05     1.86     1.81  2.61
379  ...     2.20    29  -0.75     1.88     1.84     2.08     2.02  1.50

     PSCD   PSCA
0    3.88   4.70
1    5.04  10.88
2    3.76   5.44
3    3.74   5.10
4    4.07   6.04
..    ...    ...
375  4.00   2.26
376  5.00   1.47
377  4.52   5.27
378  3.75   2.70
379  4.60   7.03

[380 rows x 65 columns]
    Div      Date        HomeTeam        AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
0    E0  13/08/16         Burnley         Swansea     0     1   A     0     0
1    E0  13/08/16  Crystal Palace       West Brom     0     1   A     0     0
2    E0  13/08/16         Everton       Tottenham     1     1   D     1     0
3    E0  13/08/16            Hull       Leicester     2     1   H     1     0
4    E0  13/08/16        Man City      Sunderland     2     1   H     1     0
..   ..       ...             ...             ...   ...   ...  ..   ...   ...
375  E0  21/05/17       Liverpool   Middlesbrough     3     0   H     1     0
376  E0  21/05/17      Man United  Crystal Palace     2     0   H     2     0
377  E0  21/05/17     Southampton           Stoke     0     1   A     0     0
378  E0  21/05/17         Swansea       West Brom     2     1   H     0     1
379  E0  21/05/17         Watford        Man City     0     5   A     0     4

    HTR  ... BbAv<2.5  BbAH  BbAHh  BbMxAHH  BbAvAHH  BbMxAHA  BbAvAHA   PSCH  \
0     D  ...     1.61    32  -0.25     2.13     2.06     1.86     1.81   2.79
1     D  ...     1.52    33  -0.50     2.07     2.00     1.90     1.85   2.25
2     H  ...     1.77    32   0.25     1.91     1.85     2.09     2.00   3.64
3     H  ...     1.67    31   0.25     2.35     2.26     2.03     1.67   4.68
4     H  ...     2.48    34  -1.50     1.81     1.73     2.20     2.14   1.25
..   ..  ...      ...   ...    ...      ...      ...      ...      ...    ...
375   H  ...     2.73    18  -2.50     2.02     1.97     1.95     1.90   1.15
376   H  ...     1.81    19  -0.25     2.19     2.11     1.85     1.79   2.35
377   D  ...     2.01    18  -0.75     2.03     1.98     1.93     1.88   1.64
378   A  ...     1.98    19  -0.50     2.11     2.06     1.86     1.82   2.29
379   A  ...     2.80    18   1.75     1.99     1.94     2.00     1.93  18.00

      PSCD   PSCA
0     3.16   2.89
1     3.15   3.86
2     3.54   2.16
3     3.50   1.92
4     6.50  14.50
..     ...    ...
375  10.50  19.09
376   3.38   3.35
377   4.37   5.53
378   3.45   3.40
379   9.70   1.16

[380 rows x 65 columns]
    Div        Date        HomeTeam      AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
0    E0  11/08/2017         Arsenal     Leicester     4     3   H     2     2
1    E0  12/08/2017        Brighton      Man City     0     2   A     0     0
2    E0  12/08/2017         Chelsea       Burnley     2     3   A     0     3
3    E0  12/08/2017  Crystal Palace  Huddersfield     0     3   A     0     2
4    E0  12/08/2017         Everton         Stoke     1     0   H     1     0
..   ..         ...             ...           ...   ...   ...  ..   ...   ...
375  E0  13/05/2018       Newcastle       Chelsea     3     0   H     1     0
376  E0  13/05/2018     Southampton      Man City     0     1   A     0     0
377  E0  13/05/2018         Swansea         Stoke     1     2   A     1     2
378  E0  13/05/2018       Tottenham     Leicester     5     4   H     1     2
379  E0  13/05/2018        West Ham       Everton     3     1   H     1     0

    HTR  ... BbAv<2.5  BbAH  BbAHh  BbMxAHH  BbAvAHH  BbMxAHA  BbAvAHA   PSCH  \
0     D  ...     2.32    21  -1.00     1.91     1.85     2.10     2.02   1.49
1     D  ...     2.27    20   1.50     1.95     1.91     2.01     1.96  11.75
2     A  ...     2.23    20  -1.75     2.03     1.97     1.95     1.90   1.33
3     A  ...     1.72    18  -0.75     2.10     2.05     1.86     1.83   1.79
4     H  ...     1.76    19  -0.75     1.94     1.90     2.01     1.98   1.82
..   ..  ...      ...   ...    ...      ...      ...      ...      ...    ...
375   H  ...     2.01    21   1.00     1.90     1.83     2.11     2.03   4.85
376   D  ...     2.49    20   1.25     2.01     1.95     1.97     1.91   6.32
377   A  ...     2.06    19  -0.50     1.94     1.88     2.03     1.98   2.08
378   A  ...     2.84    20  -1.50     1.96     1.86     2.05     2.00   1.38
379   H  ...     1.97    21  -0.25     2.09     2.03     1.88     1.84   2.35

     PSCD   PSCA
0    4.73   7.25
1    6.15   1.29
2    5.40  12.25
3    3.56   5.51
4    3.49   5.42
..    ...    ...
375  3.72   1.80
376  4.78   1.51
377  3.56   3.82
378  5.50   8.15
379  3.40   3.28

[380 rows x 65 columns]
    Div        Date      HomeTeam        AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
0    E0  10/08/2018    Man United       Leicester     2     1   H     1     0
1    E0  11/08/2018   Bournemouth         Cardiff     2     0   H     1     0
2    E0  11/08/2018        Fulham  Crystal Palace     0     2   A     0     1
3    E0  11/08/2018  Huddersfield         Chelsea     0     3   A     0     2
4    E0  11/08/2018     Newcastle       Tottenham     1     2   A     1     2
..   ..         ...           ...             ...   ...   ...  ..   ...   ...
375  E0  12/05/2019     Liverpool          Wolves     2     0   H     1     0
376  E0  12/05/2019    Man United         Cardiff     0     2   A     0     1
377  E0  12/05/2019   Southampton    Huddersfield     1     1   D     1     0
378  E0  12/05/2019     Tottenham         Everton     2     2   D     1     0
379  E0  12/05/2019       Watford        West Ham     1     4   A     0     2

    HTR  ... BbAv<2.5  BbAH  BbAHh  BbMxAHH  BbAvAHH  BbMxAHA  BbAvAHA  PSCH  \
0     H  ...     1.79    17  -0.75     1.75     1.70     2.29     2.21  1.55
1     H  ...     1.83    20  -0.75     2.20     2.13     1.80     1.75  1.88
2     A  ...     1.87    22  -0.25     2.18     2.11     1.81     1.77  2.62
3     A  ...     1.84    23   1.00     1.84     1.80     2.13     2.06  7.24
4     A  ...     1.81    20   0.25     2.20     2.12     1.80     1.76  4.74
..   ..  ...      ...   ...    ...      ...      ...      ...      ...   ...
375   H  ...     2.31    22  -1.50     1.98     1.91     2.01     1.95  1.32
376   A  ...     2.95    21  -2.00     2.52     2.32     1.72     1.64  1.30
377   H  ...     2.29    22  -1.50     2.27     2.16     1.80     1.73  1.37
378   H  ...     2.07    19  -0.50     2.13     2.08     1.85     1.80  1.91
379   A  ...     2.44    19  -0.50     2.25     2.19     1.78     1.72  2.11

     PSCD  PSCA
0    4.07  7.69
1    3.61  4.70
2    3.38  2.90
3    3.95  1.58
4    3.53  1.89
..    ...   ...
375  5.89  9.48
376  6.06  9.71
377  5.36  8.49
378  3.81  4.15
379  3.86  3.41

[380 rows x 62 columns]

To help create our features we make indicator columns for the results as well as a column indicating the week during which the match took place.

In [4]:
for i, data in enumerate(datasets):
    if i in [2,4,5]:
        format = '%d/%m/%Y'
    else:
        format = '%d/%m/%y'
    data['HWIN'] = data['FTHG'] > data['FTAG']
    data['DRAW'] = data['FTR'] == 'D'
    data['Week'] = pd.to_datetime(data['Date'], format=format).apply(lambda x: x.isocalendar()[1])

In [5]:
def compute_homewin_rate(df):
    '''
    Computes the overall win percentage of teams playing at home using all the matches up to the previous week.
    Parameters:
    df (DataFrame): Contains the week during which a match was played and an indicator for a home team win. One observation per match.
    Returns:
    hwin_rate (Series): The overall home team win percentage up to the given week. Note it contains an entry for each match, so all 
                        matches with the same week will have the same percentage

    '''
    df = df.groupby('Week', sort=False).agg(['sum','count']).cumsum()
    df.columns = df.columns.get_level_values(1)
    hwin_rate = df['sum'] / df['count']
    hwin_rate.name = 'HwinFreq'
    return hwin_rate.shift(1).dropna()

In [6]:
datasets = [data.merge(compute_homewin_rate(data.loc[:,('Week', 'HWIN')]), how='left', on='Week') for data in datasets]

In [7]:
def compute_team_str(df, name, home):
    '''
    Computes the strength of team, which is defined to be the difference between its win rate and loss rate. Since
    the performace of a team can vary greatly depending on whether or not it is playing at home, two strength values 
    are computed for each team: one using home games only, the other away games. Values that would have been computed 
    using a sample of size less than MIN_PERIODS, a constant that has been set to 5, are treated as not representative 
    of the true value, so they are discarded.
    Parameters:
    df (DataFrame): contains following fields: if home is True HomeTeam, otherwise AwayTeam, HWIN (indicator for home team win),
                    DRAW (indicator for a draw). One obeservation per match.
    name (String): the name of the team
    home (Bool): indicates whether it is the home strength or the away strength being computed
    Returns:
    team_str (Series): the strength of a team using all its data up to the last match it played  
    '''
    if home:
        col = 'HomeTeam'
        sgn = 1
    else:
        col = 'AwayTeam'
        sgn = -1
    df = df.loc[df[col] == name]
    a = df['HWIN'].expanding(min_periods=MIN_GAMES).mean()
    b = (~df['HWIN'] & ~df['DRAW']).expanding(min_periods=MIN_GAMES).mean() 
    team_str = sgn * (a - b)
    team_str.name = col + 'Str'
    #print(home_team_str)
    return team_str.shift(1).dropna()

In [8]:
for col in ['HomeTeam', 'AwayTeam']:
    if col == 'HomeTeam':
        home = True
    else:
        home = False
    datasets = [data.merge(pd.concat([compute_team_str(data.loc[:,[col]+['HWIN','DRAW']], name, home
                                                      ) for name in pd.unique(data[col].values)]), 
                           how='left', left_index=True, right_index=True) for data in datasets]

In [9]:
def compute_form(df, name):
    '''
    Computes the recent form of a team, which is defined to be the sum of their goal difference over the past WINDOW_LEN (set at 3) 
    number of games.
    Parameters:
    df (DataFrame): contains the following information: team names and goals scored by each team. One observation per match.
    name (String):
    Returns:
    gd (Series): the recent form of a team over the last WINDOW_LEN (3) matches it has played
    '''
    df = df[(df['HomeTeam']==name) | (df['AwayTeam']==name)].loc[:,('HomeTeam', 'FTHG', 'FTAG')]
    gd = np.where(np.vstack((df['HomeTeam']==name,df['HomeTeam']==name)),
                  np.vstack((np.ones(NUM_GAMES),df['FTHG']-df['FTAG'])),np.vstack((np.zeros(NUM_GAMES),df['FTAG']-df['FTHG'])))
    gd = pd.DataFrame(gd.T, index=df.index, columns=['Home','GD'])
    gd['GD'] = gd['GD'].rolling(window=WINDOW_LEN).sum().shift(1)
    return gd.dropna()

In [10]:
for data in datasets:
    temp = pd.concat([compute_form(data.loc[:,['HomeTeam', 'AwayTeam','FTHG','FTAG']], name) for name in pd.unique(data['HomeTeam'].values)])
    temp['Home'] = temp['Home'].astype('boolean')
    data['HomeTeamForm'] = temp[temp['Home']]['GD']
    data['AwayTeamForm'] = temp[~temp['Home']]['GD']

In [11]:
full_df = pd.concat(datasets, keys=[str(i) + '-' + str(i+1) for i in range(YEAR_BEG,YEAR_END)]).loc[:,('HwinFreq','HomeTeamStr','AwayTeamStr','HomeTeamForm','AwayTeamForm','FTR',
                                    'B365H', 'B365D', 'B365A')].dropna()

In [12]:
full_df

           HwinFreq  HomeTeamStr  AwayTeamStr  HomeTeamForm  AwayTeamForm FTR  \
13-14 100  0.460000    -0.600000    -0.200000          -4.0          -2.0   H
      101  0.460000     1.000000    -0.000000           2.0          -1.0   D
      102  0.460000    -0.600000     0.200000          -7.0           3.0   D
      103  0.460000     0.600000    -0.200000           1.0          -1.0   H
      104  0.460000    -0.200000    -0.000000         -10.0          -2.0   H
...             ...          ...          ...           ...           ...  ..
18-19 375  0.482385     0.888889    -0.055556           8.0           4.0   H
      376  0.482385     0.444444    -0.555556          -2.0          -4.0   A
      377  0.482385    -0.055556    -0.722222          -3.0          -6.0   D
      378  0.482385     0.388889    -0.222222          -1.0           6.0   D
      379  0.482385     0.055556    -0.277778          -4.0           4.0   A

           B365H  B365D  B365A
13-14 100   2.00   3.50   4.20
      101   1.29   6.00  12.00
      102   6.50   4.00   1.62
      103   1.25   6.50  15.00
      104   2.63   3.30   2.90
...          ...    ...    ...
18-19 375   1.30   6.00  11.00
      376   1.28   6.50  11.00
      377   1.44   4.75   8.50
      378   2.20   3.50   3.50
      379   2.25   3.75   3.20

[1674 rows x 9 columns]

In [13]:
full_df.to_csv(DIR_NAME + '/Data/' + FNAME)